# RabbitMQ
RABBITMQ_URL=amqp://admin:admin123@rabbitmq:5672
COACH_DOMAIN_QUEUE=coach_domain_queue
INTERACTION_QUEUE=interaction_queue
AUTH_QUEUE=auth_service

# JWT
JWT_SECRET="fe17c6ce0ccdeafe27bd1e255b5a665ae1de6a5af8214501de1b9659d5bc1948"
JWT_EXPIRATION_TIME="1h"

FRONTEND_URL="http://localhost:5147"
