# RabbitMQ
RABBITMQ_URL="amqp://admin:admin123@rabbitmq:5672"
COACH_DOMAIN_QUEUE="coach_domain_queue"
INTERACTION_QUEUE="interaction_queue"
AUTH_QUEUE='auth_service'
GATEWAY_QUEUE="gateway_queue"

MONGO_URI="mongodb://localhost:27017/interaction_db"

MAILTRAP_TOKEN="your_mailtrap_token"