# RabbitMQ
RABBITMQ_URL="amqp://admin:admin123@rabbitmq:5672"
COACH_DOMAIN_QUEUE="coach_domain_queue"
INTERACTION_QUEUE="interaction_queue"
AUTH_QUEUE='auth_service'
GATEWAY_QUEUE="gateway_queue"

MONGO_URI="mongodb://localhost:27017/interaction_db"

# Mailtrap config
MAILTRAP_TOKEN="e4500f940e021524ef7ec44a2df7fd80"
MAILTRAP_FROM_EMAIL="<noreply@fr3onfit.com>"
MAILTRAP_FROM_NAME="Fr3onFit"