# RabbitMQ
RABBITMQ_URL="amqp://admin:admin123@rabbitmq:5672"
COACH_DOMAIN_QUEUE="coach_domain_queue"
INTERACTION_QUEUE="interaction_queue"
AUTH_QUEUE='auth_service'

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth_service?schema=public"

# JWT
JWT_SECRET="secret"
JWT_EXPIRATION_TIME="1h"
REFRESH_TOKEN_SECRET="secret-refresh"
REFRESH_TOKEN_EXPIRATION_TIME="60d"

# BCRYPT
BCRYPT_ROUNDS=12

RESET_TOKEN_SECRET="your-reset-token-secret"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloud-api-key"
CLOUDINARY_API_SECRET="your-cloud-api-secret"

FRONTEND_URL="http://localhost:5147"